// Colors

$color-primary-dark: #2a3042;
$color-header: #252a3b;
$color-sidebar: #292f41;
$color-footer: #252c3c;
$color-primary-yellow: #ffd942;
$color-sun: #f8b337;
$color-main: #f4f4f4;
$color-main-dark: #212736;

$color-card: #c4c4c4;
$color-card-dark: #293142;

$color-black: #000;
$color-white: #fff;


// Responsive Breakpoints
// $bp-xs: 21.875em; // 350px
// $bp-small: 37.5em; // 600px
$bp-medium: 62.5em; // 1000px
// $bp-large: 75em; // 1200px